<section class="pt-5">
  <header class="text-center">
    <p class="small text-muted small text-uppercase mb-1">Carefully created       collections</p>
    <h2 class="h5 text-uppercase mb-4">Browse our categories</h2>
  </header>
  <div class="row">
  <div class="col-md-4 mb-4 mb-md-0">
    <div class="category-item">
    <%=image_tag(url_for(@categories.third.images[0]) , class: "img-fluid ") %>
    <%= link_to "Clothes", category_show_path, class: "category-item-title"%>
    </div>
  </div>

<div class="col-md-4 mb-4 mb-md-0 ">
  <div class="category-item mb-4">
    <%=image_tag(url_for(@categories.second.images[0]), class: "img-fluid") %>
    <%= link_to "Laptops", category_show_path, class: "category-item-title"%>
  </div>
  <div class="category-item">
    <%=image_tag(url_for(@categories.fourth.images[0]), class: "img-fluid") %>
    <%= link_to "Laptops", category_show_path, class: "category-item-title"%>
  </div>
</div>

 <div class="col-md-4">
   <div class="category-item">
    <%=image_tag(url_for(@categories.first.images[0]),class: "img-fluid h-100") %>
    <%= link_to "Mobiles", category_show_path, class: "category-item-title"%>
   </div>
  </div>
 </div>
</section>
