<%= render partial: "partials/navbar", heart: @heart %>

<div >
<div class="container" style="margin-bottom: -16px;">
<ul>
  <% @products.each do | p |%>
  <div class="d-flex align-items-stretch text-white ">
    <div class="">
      <%=image_tag(url_for(p.images.first), style: "width: 150px; height: 150px;")  %>
    </div>
    <div class="p-5 ">
      <h5><%= p.name%></h5>
      <h6>Rs<%= p.price%></h6>
    </div>
    <div class="p-5 ">
      <%= p.description%>
    </div>
    <div class="p-5 ml-3">
      <%= link_to "Go Back", :back, class: "btn btn-dark" %>
    </div>
  </div>
  <% end %>
</ul>
</div>
</div>
<%= render partial: "partials/footer"%>
