<%= render partial: "partials/navbar"%>

<hr>
<div class="container">


<ul>
<% @products.each do | p |%>
<li> <b style="font-size: 20px;">  Name </b><%= p.name%></li>
<li> <b style="font-size: 20px;">  Description</b>   <%= p.description%></li>
<%= link_to "Go Back", :back, class: "btn btn-danger " %>
<hr>
 <%=image_tag(url_for(p.images.first), class: "img-fluid w-50") %>
<% end %>
</ul>

</div>

<%= render partial: "partials/footer"%>
